= form_for(mailsignature) do |f|
  - if mailsignature.errors.any?
    #error_explanation
      %h2
        = pluralize(mailsignature.errors.count, "error")
        prohibited this mailsignature from being saved:
      %ul
        - mailsignature.errors.full_messages.each do |message|
          %li= message
  .field
    %h3 banners

    %h4 #1 (default)
    =image_tag 'banner1.jpg'
    %h4 #2
    =image_tag 'banner2.jpg'


  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :saludation
    = f.text_field :saludation
  .field
    = f.label :mobilespain
    = f.text_field :mobilespain
    = f.check_box :msvisible
  .field
    = f.label :mobilefrance
    = f.text_field :mobilefrance
    = f.check_box :mfvisible
  .field
    = f.label :mobilegermany
    = f.text_field :mobilegermany

    = f.check_box :mgvisible
  .field
    = f.label :skype
    = f.text_field :skype
    = f.check_box :skypevisible
  .field

    = f.label :banner
    = f.number_field :banner

  .actions
    = f.submit

